body{ 
    width: 100%;
    height: 100%;
    background-color: beige;
}

h1 { 
    font-size: 2em;
        color: darkred;
        margin-left: 20px;
       } 
h2 {  
      font-size: 2em;
         color:darkblue;
         margin-left: 20px;
         
    }
p{    
    color:firebrick;
          font-size: 2em;
          margin-left: 20px;
    }

/*.btn{
    display: block;
    position: relative;
    padding: 10px;
    margin-bottom: 25px;
    width: 250px;
    height: 150px;
    background-color: red;
    color: white;
    text-transform: uppercase;
    border: 1px solid #333;
    cursor: pointer;
    text-align: center;
    transition: .5s;    
    
}  
.btn:hover {
      color:green;
      background-color: darkturquoise;
      transition: .5s;
}  */ 
video{
    width: 250px;
    height: 200px;
    position: relative;
    margin-left: 20px;
}
.audio {
    width: 250px;
    height: 20px;
    margin-left: 20px;
    margin-top: 0%;
}
.cor {width: 20px;
    height: 20px;
     color: darkred;
     margin-left: 90px;

     
     

}

.lista{
    width: 220px;
    height: 230px;
    background-color:cadetblue;
   color:blue;
   border: 5px solid;
   position: relative;
   padding-top: 20px;
   margin-left: 20px;
   padding-right: 10px;
   
   }
.lista:hover{
        color: red;
        transition: .5; 
        position: relative;

}
.container{
    position: relative;
    display: flex;
    max-width: 1200px;
    height: 120px;
    background-color: aliceblue;
    min-width: 500px;
    overflow: scroll;
    border: solid 2px;
    margin-left: 20px;
   
}
.container:hover{
    transition: .5s;
    border-color:  red;
    position: relative;
}
.image-box{
    display: flex;
    width: 150px;
    height: 100px;
    position: relative;    
    
}
.image1-box{
    width: 150px;
    height: 100px;
    border-color: red;
    transition: .5;
    cursor: pointer;
    border: solid 2px;
    border-top: none;
    
    
    
    
}
.image2-box{
    width: 150px;
    height: 100px;
    border-color: red;
    transition: .5;
    cursor: pointer;
    margin-left: 2px;
    border: solid 2px;
    border-top: none;
    
    
    
}
.image3-box {
    
    width: 150px;
    height: 100px;
    border-color: red;
    transition: .5;
    cursor: pointer;
    margin-left: 2px;
    border: solid 2px;
    border-top: none;
    
}
.image4-box {
    width: 150px;
    height: 100px;
    border-color: red;
    transition: .5;
    cursor: pointer;
    border: solid 2px;
    margin-left: 2px;
    border-top: none;
    
    
}
.image5-box {
    width: 150px;
    height: 100px;
    border-color: red;
    transition: .5;
    cursor: pointer;
    border: solid 2px;
    margin-left: 2px;
    border-top: none;
}
.image6-box {
    width: 150px;
    height: 100px;
    border-color: red;
    transition: .5;
    cursor: pointer;
    border: solid 2px;
    margin-left: 2px;
    border-top: none;
}


.lorem {
    
    height: 100px;
    display: flex;
    border-color: red;
    transition: .5;
    cursor: pointer;
    border: solid 2px;
    margin-left: 20px;
    max-width: max-content;
    min-width: 550px;
    padding-left: 20px;
    cursor: pointer;
    margin-top: 20px;
    
}
.lorem:hover {
     border-color: red;
     transition: .5s;
     
}
.btn {
    width: 70px;
    height: 35px;
    position: relative;
    transition: .5;
    background-color: red;
    color: white;
    font-size: .5;
    border-color: blue;
    
}
.btn:hover{
        background-color: red;

}
.botao {
    
    height: 50px;
    width: 90px;
    position: relative;
    transition: .5;
    background-color:darkgreen;
    color: white;
    text-align: center;
    text-transform: uppercase;
    border: 1px;
    margin-left: 50px;
    cursor: pointer;
    
    
    
    
}
.botao:hover {
    color: white;
    background:red;
}
.link{
      color: darkred;
      margin: 20px;
      border-top: 5px;
      

      }


